In [13]:
def name_of_function(name): #notice snake case of function name
    """
    Doc string, type here whatever you want to explain the function
    """
    print('Hello',name)
    age = input('give age:')
    return 'Hello '+name+'. Your age is: '+age

In [14]:
simple_bio = name_of_function('Gerone')

Hello Gerone

give age: 28

In [15]:
simple_bio

'Hello Gerone. Your age is: 28'

### Combining logic with function

In [55]:
def check_num_in_L_if_even(L):
    for i in L:
        if i%2==0:
            print(str(i)+' is even')
        else:
            print(str(i)+' is not even')

In [56]:
check_num_in_L_if_even([1,3,5,7,9,10,12])

1 is not even
3 is not even
5 is not even
7 is not even
9 is not even
10 is even
12 is even

In [73]:
# sol1
def check_num_in_L_if_even(L):
    new_L = []
    for i in L:
        if i%2==0:
            return True
        else:
            new_L.append(i)
    for j in new_L:
        if i%2!=0:
            return False

In [79]:
check_num_in_L_if_even([1,3,5,7,9,10])

True

In [88]:
# sol2 : best sol
def check_num_in_L_if_even(L):
    for i in L:
        if i%2==0:
            return True
    return False

In [95]:
check_num_in_L_if_even([1,2,3,5,7,8,9,99,999,100])

True

In [140]:
# return all even number in the list
def check_num_in_L_if_even(L):
    new_L = []
    for i in L:
        if i%2==0:
            new_L.append(i)
        else:
            pass
    return new_L

In [141]:
check_num_in_L_if_even([2,1,1,2,3,5,60,7,8,10,9,99,999,100])

[2, 2, 60, 8, 10, 100]

In [138]:
# return all even number in the list using POP, more advanced approach
def check_num_in_L_if_even(L):
    for i in L[::-1]: # NOTICE this approach, always pop from the end to beginning!!!!!!
        if i%2!=0:
            L.pop(L.index(i)) 
        else:
            pass
    return L

In [139]:
check_num_in_L_if_even([2,1,1,2,3,5,60,7,8,10,9,99,999,100])

[2, 2, 60, 8, 10, 100]

In [30]:
def check_num_if_even(num):
    if num%2==0:
        return str(num)+' is even'
    else:
        return str(num)+' is not even'

In [142]:
for i in range(1,11):
    print(check_num_if_even(i))

1 is not even
2 is even
3 is not even
4 is even
5 is not even
6 is even
7 is not even
8 is even
9 is not even
10 is even

## Tuple Unpacking with Python Functions

In [144]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [157]:
for i,j in stock_prices:
    print(i,j)

APPL 200
GOOG 400
MSFT 100

In [451]:
# answer the question, who's the employee of the month
work_hours = [('Abby',100),('Gerone',90),('Billy',400),('Cassie',800),('Aira',1000)]

In [452]:
new_work_hours = []

for i,j in work_hours:
    print(i,j)
    new_work_hours.append((j,i))
new_work_hours

Abby 100
Gerone 90
Billy 400
Cassie 800
Aira 1000

[(100, 'Abby'),
 (90, 'Gerone'),
 (400, 'Billy'),
 (800, 'Cassie'),
 (1000, 'Aira')]

In [454]:
new_work_hours = []
for i,j in work_hours:
    new_work_hours.append((j,i))
for k,l in work_hours:
    if k in max(new_work_hours):
        print(f'Employee of the month/year is {k} with working hour of {l}.')

Employee of the month/year is Aira with working hour of 1000.

In [457]:
def employee_of_the_M_or_Y(*work_hours): #notice the asterisk * which indicates the args
    new_work_hours = []
    for i,j in work_hours:
        new_work_hours.append((j,i))
    for i,j in work_hours:
        if i in max(new_work_hours):
            return f'Employee of the month/year is {j} with working hour of {i}.'

In [443]:
employee_work_hours = [('Abby',100),('Billy',400),('Gerone',1000),('Cassie',800)]
print(*employee_work_hours)

('Abby', 100) ('Billy', 400) ('Gerone', 1000) ('Cassie', 800)

In [448]:
# accepting both array and tupple
employee_work_hours = [('Jaira',1500),('Abby',100),('Billy',400),('Gerone',1000),('Cassie',800)]
print(*employee_work_hours)
employee_work_hours = ('Aira',1500),('Abby',100),('Billy',400),('Gerone',1000),('Cassie',800)
print(*employee_work_hours)

('Jaira', 1500) ('Abby', 100) ('Billy', 400) ('Gerone', 1000) ('Cassie', 800)
('Aira', 1500) ('Abby', 100) ('Billy', 400) ('Gerone', 1000) ('Cassie', 800)

In [459]:
print(employee_of_the_M_or_Y(*employee_work_hours))
# or
print(employee_of_the_M_or_Y(('Abby',100),('Billy',400),('Gerone',90),('Cassie',800)))

Employee of the month/year is 1500 with working hour of Aira.
Employee of the month/year is 800 with working hour of Cassie.

In [201]:
args = ('Abby',100),('Billy',400),('Gerone',1000),('Cassie',800)

In [211]:
employee_of_the_M_or_Y(*args)

'Employee of the month/year is Gerone with working hour of 1000.'

## Pop Method

In [70]:
# not pop method yet but just to compare with working
def employee_of_the_M_or_Y(*work_hours): #notice the asterisk * which indicates the args
    new_work_hours = []
    for i,j in work_hours:
        new_work_hours.append((j,i))
    for i,j in work_hours:
        if i in max(new_work_hours):
            return f'Employee of the month/year is {j} with working hour of {i}.'

In [71]:
print(employee_of_the_M_or_Y(('Abby',100),('Billy',2200),('Gerone',900),('Cassie',800)))

Employee of the month/year is 2200 with working hour of Billy.

In [72]:
# Working pop method!!! 
def employee_of_the_M_or_Y(*work_hours): #notice the asterisk * which indicates the args
    work_hours = list(work_hours)
    for i,j in work_hours[::-1]:
        work_hours.append(work_hours.pop(work_hours.index((i,j)))[::-1]) #flipping popped value approach
    for i,j in work_hours:
        if i in max(work_hours):
            return f'Employee of the month/year is {j} with working hour of {i}.'

In [73]:
employee_of_the_M_or_Y(('Abby',100),('Billy',2200),('Gerone',900),('Cassie',800))

'Employee of the month/year is Billy with working hour of 2200.'

In [ ]:
work_hours

In [498]:
work_hours = (('Abby',100),('Billy',400),('Gerone',90),('Cassie',800))
work_hours = list(work_hours)
print(work_hours)
work_hours.index(('Abby', 100))

[('Abby', 100), ('Billy', 400), ('Gerone', 90), ('Cassie', 800)]

0

## Linear Methods

In [111]:
#method 1, keep track using array
def employee_of_the_M_or_Y(*work_hours): #notice the asterisk * which indicates the args
    max_val = 0
    employee_of_the_year_or_month = []
    for i,j in work_hours:
        if j > max_val:
            max_val = j
            employee_of_the_year_or_month.append((i,max_val))
    return employee_of_the_year_or_month[-1]

In [116]:
employee_of_the_M_or_Y(('Abby',10),('Billy',99),('Gerone',3),('Cassie',4))

('Billy', 99)

In [46]:
#method 2, keep track of index
def employee_of_the_M_or_Y(*work_hours): #notice the asterisk * which indicates the args
    max_val = 0
    max_index = 0
    for i,j in work_hours:
        if j > max_val:
            max_val = j
            max_index = work_hours.index((i,max_val))
    return work_hours[max_index]

In [49]:
employee_of_the_M_or_Y(('Abby',1000),('Billy',666999),('Gerone',999),('Cassie',9999))

('Billy', 666999)

In [129]:
# method 3, using simple assignment of keys and values based from index
def employee_of_the_M_or_Y(*work_hours): #notice the asterisk * which indicates the args
    max_val = 0
    employee = ''
    for i in work_hours:
        if i[1] > max_val:
            max_val = i[1]
            employee = i[0]
    return (employee,max_val)

In [132]:
employee_of_the_M_or_Y(('Abby',1100),('Billy',2200),('Gerone',3000),('Jaira',7777),('Cassie',990))

('Jaira', 7777)

In [20]:
# method 4, using lambda function
def employee_of_the_M_or_Y(*work_hours): #notice the asterisk * which indicates the args
    return sorted(work_hours, key=lambda x:x[1])[-1]

In [45]:
employee_of_the_M_or_Y(('Abby',1100),('Billy',2200),('Gerone',3000),('Jaira',777),('Cassie',990))

('Gerone', 3000)

# Interactions between Python Functions

In [217]:
from random import shuffle

print("Let's please Three Cup Monty!\n\nBelow is the 3 Cup and the ball[0] is in the middle.")

monty_ball = [[],[0],[]]
print(f"\n\t{monty_ball}")

ask_shuffle = input('\nShuffle cups?(y/n):').strip().lower()

if ask_shuffle == 'y':
    shuffle(monty_ball)
    print("\nYou've shuffled the cups! Good luck!\n")
elif ask_shuffle == 'n':
    print("\nYou didn't shuffle, what a cheat! :p\n")
    pass
choice = int(input('\nSelect which cup containing the ball (1-3):').strip())
if monty_ball[choice-1] == [0]:
    print("\nWe have a winner! Congratulations, you've found the monty ball!")
    print(f"\nHere are the cups and its values:\n\n\t{monty_ball}")
else:
    print("\nOops, sorry the cup is empty! better luck next time.")
    print(f"\nHere are the cups and its values:\n\n\t{monty_ball}")

Let's please Three Cup Monty!

Below is the 3 Cup and the ball[0] is in the middle.

	[[], [0], []]

Shuffle cups?(y/n): n

You didn't shuffle, what a cheat! :p

Select which cup containing the ball (1-3): 2

We have a winner! Congratulations, you've found the monty ball!

Here are the cups and its values:

	[[], [0], []]

In [52]:
def clear_output():
    from IPython.display import clear_output
    clear = input("\nClear output?(y/n): ").strip().lower()
    if clear == 'y':
        clear_output(wait=True)

def play_3_cup_monty():
    from random import shuffle
    
    print("Let's please Three Cup Monty!\n\nBelow are the 3 Cup and the ball [0] is currently in the middle.")
    
    monty_ball = [[],[0],[]]
    print(f"\n\t{monty_ball}")
    
    ask_shuffle = input('\nShuffle cups?(y/n):').strip().lower()
    
    if ask_shuffle == 'y':
        shuffle(monty_ball)
        print("\nYou've shuffled the cups! Good luck!")
    elif ask_shuffle == 'n':
        print("\nYou didn't shuffle, what a cheat! :p")
        
    choice = int(input('\nGuess which cup contains the ball (enter between 1-3):').strip())
    if monty_ball[choice-1] == [0] and ask_shuffle == 'n':
        print("\nWe have a winner! Congratulations, you've found the monty ball!\n...but you're a cheat! :p")
        print(f"\nHere are the cups and its values:\n\n\t{monty_ball}")
        return True
    elif monty_ball[choice-1] != [0] and ask_shuffle == 'n':
        print("\nYou still didn't win even though you didn't shuffle? hahaha! what a loser :p :p :p")
        print(f"\nHere are the cups and its values:\n\n\t{monty_ball}")
        return False
    elif monty_ball[choice-1] == [0]: 
        print("\nWe have a winner! Congratulations, you've found the monty ball!")
        print(f"\nHere are the cups' values:\n\n\t{monty_ball}")
        return True
    else:
        print("\nOops, sorry the cup is empty! better luck next time.")
        print(f"\nHere are the cups' values:\n\n\t{monty_ball}")
        return False
score=0

In [54]:
while True:
    is_winner = play_3_cup_monty()
    print()
    if is_winner:
        print("You've won three cup monty game and returned 'True' value for variable 'is_winner'\n")
        score+=1
        print(f'Score Board:\n\t\t\t{score}\n\n')
        clear_output()
    else:
        print("You've lost three cup monty game and returned 'False' value for variable 'is_winner'\n")
        print(f'Score Board:\n\t\t\t{score}\n\n')
        clear_output()
    if score==3:
        print("\nYou've reached the max score! Thanks for playing Three Cup Monty.")
        score=0
        break

Let's please Three Cup Monty!

Below are the 3 Cup and the ball [0] is currently in the middle.

	[[], [0], []]

You didn't shuffle, what a cheat! :p

We have a winner! Congratulations, you've found the monty ball!
...but you're a cheat! :p

Here are the cups and its values:

	[[], [0], []]

You've won three cup monty game and returned 'True' value for variable 'is_winner'

Score Board:
			3



You've reached the max score! Thanks for playing Three Cup Monty.

In [262]:
pwd

'C:\\Users\\P101I3PH1\\Documents\\Python Learning'

## Caesar Encription

In [1]:
def caesar_encryption(string,num):
    L = []

    for i in string[num:]:
        L.append(i)
    for i in string[:num]:
        L.append(i)

    return ''.join(L)

In [2]:
caesar_encryption('Jaira',2)

'iraJa'

## Sponge Case

In [82]:
def sponge_case(string,is_even):

    string = string.lower()
    L = []

    if is_even:
        even=1
    else:
        even=0
    
    for i in string:
        if even == len(string):
            L.append(i.lower())
            break
        elif i != string[even]:
            L.append(i.lower())
        elif i == string[even]:
            L.append(i.upper())
            even+=2
            
    return ''.join(L)

In [83]:
sponge_case('Gerone',is_even=True)

'gErOnE'

In [84]:
sponge_case('Jaira',is_even=True)

'jAiRa'

In [81]:
sponge_case('Jaira',is_even=False)

'JaIrA'

In [79]:
sponge_case('Gerone',is_even=False)

'GeRoNe'

### Solution Below

In [66]:
string = 'Jairah'
is_even = False
string = string.lower()

if is_even:
    even=1
else:
    even=0
L = []
for i in string:
    if even == len(string):
        L.append(i.lower())
        break
    elif i != string[even]:
        L.append(i.lower())
    elif i == string[even]:
        L.append(i.upper())
        even+=2

['J', 'a', 'I', 'r', 'A', 'h']

## Recalling youtube lesson *args **kwargs

In [377]:
def pizza_delivery_orders(name,size,*toppings,**details):
    print(f'Hi {name}, your {size} pizza order are as follows:\n\n\tToppings:')
    for topping in toppings:
        print(f'\t   -{topping}')
    print(f'\nMore details below:\n')
    for key,value in details.items():
        print(f'\t{key}:\n\t   -{value}\n')

In [373]:
pizza_delivery_orders('Gerone','large','onion','cheese','pineapple','olives',Delivery_Date_Time='9PM Manila Time',Mode_Of_Payment='Cash')

Hi Gerone, your large pizza order are as follows:

	Toppings:
	   -onion
	   -cheese
	   -pineapple
	   -olives

More details below:

	Delivery_Date_Time:
	   -9PM Manila Time

	Mode_Of_Payment:
	   -Cash

In [385]:
args = ['onion','cheese','pineapple','olives']
kwargs = {'Delivery Date Time': '9PM Manila Time', 
          'Mode of Payment': 'Cash'}

kwargs['Location'] = 'Pioneer Woodlands Mandaluyong' 
args.append('pepperoni')

pizza_delivery_orders('Gerone','large',*args,**kwargs)

Hi Gerone, your large pizza order are as follows:

	Toppings:
	   -onion
	   -cheese
	   -pineapple
	   -olives
	   -pepperoni

More details below:

	Delivery Date Time:
	   -9PM Manila Time

	Mode of Payment:
	   -Cash

	Location:
	   -Pioneer Woodlands Mandaluyong